


.card-image{
    height: 200px;
    width: 390px;
}


.source:hover{
   color: rgb(121, 29, 220);
}
.project-components{
    margin: 0;
    padding: 0;
    
}


.project-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-family: Cairo;
    margin-top: 44px;
    margin-bottom: 44px;
}

.specific-title{
    opacity: 65%;
    margin: 22px 12px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}

.project-components{
    margin: 24px;
    width: 392px;
}

.card-title{
    font-weight: 900;
    font-size: 28px;
    font-family: var(--cairosa)
}

.content{
    margin-left: 25px;
}

.description{
    font-size: 16px;
    font-family: var(--cairosa);
    text-align: justify;
    

}

.dot{
    font-size: 32px;
}

.dateSource{
    margin-top: 12px;
    opacity: 65%;
    font-size: 12px;
    font-family: var(var(--cairosa));
    display: flex;
    flex-direction: row;
}

.source{
    margin-left: 12px;
    cursor: pointer;
    
}