/* General Navbar Styles */
.navbar-component {
    background-color: #333;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.logo-highlight {
    color: #00bcd4;
    /* Highlight color */
}

.button-close {
    background: none;
    border: none;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-link {
    margin: 0 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #00bcd4;
    /* Highlight color on hover */
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #333;
        padding: 20px;
    }

    .navbar-list.open {
        display: flex;
    }

    .button-close.open {
        transform: rotate(180deg);
    }

    .navbar-link {
        margin: 10px 0;
    }
}

/* Sticky Navbar Styles */
.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #333;
    /* Dark background when sticky */
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

/* Small devices */
@media (max-width: 768px) {
    .navbar-list {
        flex-direction: column;
        align-items: center;
        background-color: #333;
        width: 100%;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        display: none;
        z-index: 1000;
    }

    .navbar-list.open {
        display: flex;
    }

    .navbar-link {
        margin: 15px 0;
    }
}

.navbar-link{
    color: white;
}

