
.card-preview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 220px;
 
}

.view_more_projects{
    margin-right: 145px;
    margin-top: -80px;
    float: right;
    color: rgb(51, 84, 246);
    cursor: pointer;
   
}

@media (max-width: 576px) { 
    .card-preview{
       margin-left: 50px
    };

    

    
 }